PORT=3001
PORT_DB=5432
NAME_DB='finance_flow'
PASSWORD_DB='your-password'
HOST_DB='localhost'
USER_DB='postgres'
SECRET_ACCESS_KEY='your-secret-access-key'
SECRET_REFRESH_KEY='your-secret-refresh-key'
EXPIRES_REFRESH_KEY='your-expiration-time-for-access-token'
EXPIRES_ACCESS_KEY='your-expiration-time-for-refresh-token'
CLOUDINARY_CLOUD_NAME='your-cloudinary-cloud-name'
CLOUDINARY_API_KEY='your-cloudinary-api-key'
CLOUDINARY_API_SECRET='your-cloudinary-api-secret'
AI_URL='your-ai-url-ollama-or-lm-studio-or-others'
HOST_QUEUE='localhost'
PORT_QUEUE=6379
EMAIL_USER='your-email-user'
EMAIL_PASS='your-email-password'
EMAIL_PORT=587
EMAIL_HOST='your-email-host'
RECOVERY_PASSWORD_URL='your-recovery-password-endpoint-url'
GOOGLE_CLIENT_ID= 'your-google-client-id'
GOOGLE_CLIENT_SECRET= 'your-google-client-secret'
GOOGLE_CALLBACK_URL='your-google-callback-url'